.home-container {
    background-color: var(--ultra-light, #f9fafb);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
  }
  .content-container {
    background-color: var(--ultra-light, #f9fafb);
    width: 100%;
    
  }
  @media (max-width: 991px) {
    .content-container {
      max-width: 100%;
    }
  }
  .content-sub-container {

    display: flex;
  }
  @media (max-width: 991px) {
    .content-sub-container {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 18%;
    margin-left: 0px;
    min-height: 100vh;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 82%;
    margin-left: 20px;
    margin-right: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }


  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates three columns */
    grid-gap: 20px; /* Space between grid items */
    margin-top: 20px; /* Space between the navbar and the grid */
    max-width: 99%; /* Max width of the grid container */


    padding: 20px; /* Adds padding inside the grid to avoid touching edges */
    padding-right: 0px;
    padding-left: 0px;
    width: 100%; /* Width relative to the parent to ensure some margins */
  }
  
  .grid-item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centered alignment for items inside the card */
    padding: 20px;
    gap: 12px;
    
    background: #FFFFFF;
    border: 1px solid #ECEEF1;
    border-radius: 16px;
  
    height: 200px; /* Fixed height */
    width: 100%;
    /* Flexible width using percentage to adapt within the grid */
  }
  
