.tags-container {
    padding-top: 20px;
    align-self: stretch;
    display: flex;
    padding-right: 55px;
    gap: 12px;
    max-width: 100%;
  
  }
  @media (max-width: 991px) {
    .tags-container {
        flex-wrap: wrap;
        padding-right: 20px;
    }
  }
  .icon-wrapper {
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--black, #0f0a09);
    display: flex;
    width: 37px;
    height: 37px;
    padding: 6px 16px;
  }
  .icon {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 30px;
  }
  .tags-list {
    display: flex;
    gap: 12px;
    font-size: 16px;
    color: var(--black, #0f0a09);
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.32px;
    line-height: 130%;
  }
  @media (max-width: 991px) {
    .tags-list {
        flex-wrap: wrap;
    }
  }
  .tag {
    white-space: nowrap;
    padding: 5px 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-family: Satoshi Variable, -apple-system, Roboto, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.02em;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: inherit;
  }
  .tag-black {
    background-color: var(--black, #0f0a09);
    color: var(--white, #fff);
  }
  .tag-light {
    background-color: var(--light, #eceef1);
  }
  .divider-line {
    width: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #D7D7DE;
    flex: none;
  }
  button {
    cursor: pointer;
  }
  